__pycache__/
build/
dist/
.vscode
.idea
ubjson/*.html
*.py[cod]
*.so
.coverage
coverage.xml
coverage

*.egg
.eggs/
*.egg-info

env
venv
.env
.venv

# mypy
.mypy_cache/


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
test-bdd-results.xml
test-lib-results.xml
test-unit-results.xml
